.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  width: 100%;
  min-height: 106px;
  position: relative;
  color: #FFFFFF;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-self: start;
    align-items: center;
    height: 130px;
    min-height: 128px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: space-between;
    width: 1024px;
  }
}