.logo {
  display: flex; 
  width: 250px;
  height: 55px;
  position: relative;
  top: 16px;
  left: 1px;
  color: #ffd700;
  font-size: 26px;
  justify-self: start;
  text-shadow: 0 0 10px #ff0000;
  margin: auto;
  text-align: center;
}
.logo:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 1em;
    background: linear-gradient(0deg, #efc20e 0, rgba(255, 255, 255, 0) 80%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    opacity: 0.7;
}

@media screen and (min-width:768px) {
  .logo {
    width: 380px;
    height: 100px;
    margin: auto;
    top: 60px;
    font-size: 27px;
  }
}

@media screen and (min-width:1024px) {
  .logo {
    top: 40px;
    /* width: 210px; */
  }
}