
.contact__link {
    color: #00aaff !important;
    text-decoration: none;
}

.contact__link:hover {
    text-shadow: 0 0 1px #fff , 0 0 1px #00aaff, 0 1px 0px #00aaff;
}

  
  /* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #00aaff, 0 0 2px #00aaff, 0 0 3px #00aaff, 0 0 4px #00aaff, 0 0 5px #00aaff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 2px #00aaff, 0 0 5px #00aaff, 0 0 10px #00aaff, 0 0 14px #00aaff, 0 0 17px #00aaff 0 0 20px #00aaff;
    }
  } */