.header__text {
display: flex;
justify-self: center;
margin-top: 15px;
padding-top: 35px;
min-width: 160px;
width: 160px;
/* max-width: 160px; */
height: 120px;
text-align: center;
margin: auto;
  }
  
  @media screen and (min-width: 768px) {
    .header__text {
      justify-content: center;
      position: relative;
      padding: 0;
        margin-top: 85px;
        width: auto;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .header__text {
        margin-top: 75px;
        margin-right: 130px;
        font-size: 20px;
     
     /* width: 200px; */
    }
  }