.header__text {
display: flex;
justify-self: center;
margin-top: 15px;
min-width: 160px;
max-width: 160px;
height: 120px;
text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .header__text {
        margin-top: 25px;
        width: 160px;
        margin-left: 0;
        margin-right: 100px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .header__text {
        margin-top: 25px;
        margin-right: 130px;
        font-size: 20px;
     max-width: 200px;
     width: 200px;
    }
  }