.contact {
    display: flex;
    height: 39px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 40px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .contact {
        height: 25px;
    }
    }

.logo-telegram {
    height: 12px;
    width: 12px;
}